nav {
  border: 2px solid black;
}

header {
  display: grid;
  border: 2px solid black;
  grid-template: 1fr 2fr / 1fr 1fr;
  width: 100%;
  height: 500px;
  background-color: #002d72;
  img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
  }
  .intro {
    background-color: whitesmoke;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 2px solid black;
  }
  .tour {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid black;
    text-align: center;
  }
}

.tarjetas {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.formulario {
  button {
    width: 80px;
    height: 30px;
    background-color: rgb(99, 178, 231);
    border: none;
    border-radius: 20px;
  }
}
